<mat-toolbar color="primary" style="position:fixed; top:0; left:0; z-index: 100">
  <span [routerLink]="['/']">АНАЛИТИКА СТРАН</span>
  <button routerLink="/login" style="margin-left: 10px" mat-button>Администрирование</button>
</mat-toolbar>
<div>
  <h3>Расчеты основаны на показателях оценки эффективности социальной защиты</h3>
  <table mat-table [dataSource]="indicators" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="table-field">No.</th>
      <td mat-cell *matCellDef="let element" class="table-field"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="explanation">
      <th mat-header-cell *matHeaderCellDef class="table-field">Расшифровка</th>
      <td mat-cell *matCellDef="let element" class="table-field"> {{element.explanation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning" class="table-field">
      <th mat-header-cell *matHeaderCellDef class="table-field">Значение</th>
      <td mat-cell *matCellDef="let element" class="table-field"> {{element.meaning}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
