<mat-toolbar color="primary" style="position:fixed; top:0; left:0; z-index: 100">
  <span [routerLink]="['/']">АНАЛИТИКА СТРАН</span>
  <button routerLink="/" style="margin-left: 10px" mat-button>Вернуться к просмотру</button>
  <button routerLink="/" style="margin-left: 10px" mat-button (click)="logOut()">Выйти из админ-панели</button>
</mat-toolbar>
