.main-container{
  overflow: hidden;
  margin: 7rem 10rem 0 10rem;
  align-items: flex-start;
}

.title{
  text-align: center;
  font-size: 2em;
}

@media (max-width: 420px){
  .main-container{
    margin: 5rem 2rem 0 1rem;
  }

  .title{
    font-size: 1.5em
  }
}
