<div class="main-container">
  <!--<h1 class="title">ОЦЕНКА СОЦ ОБЕСПЕЧЕННОСТИ СТРАН ЕС-->
    <!--<span>-->
      <!--<button style="top:-8px" mat-icon-button routerLink="/detail">-->
         <!--<mat-icon aria-label="Example icon-button with a heart icon" color="primary">extension</mat-icon>-->
      <!--</button>-->
    <!--</span>-->
  <!--</h1>-->
  <router-outlet></router-outlet>
</div>
