<mat-toolbar color="primary" style="position:fixed; top:0; left:0; z-index: 100">
  <span [routerLink]="['/']">АНАЛИТИКА СТРАН</span>
</mat-toolbar>
<div style="display:flex; justify-content: center; margin-top: 70px;" *ngIf="!isAdmin">
  <form [formGroup]="user">
    <h3 style="margin-bottom:20px">Администрирование</h3>
    <mat-form-field appearance="outline" style="display: block; width: 300px">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="email@test.email" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" style="display: block;  width: 300px">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <a *ngIf="errMessage" style="display:block; margin: 10px 0; color:red">
      {{errMessage}}
    </a>
    <button mat-raised-button (click)="login()" style="margin-bottom:15px" [disabled]="user.invalid">Войти</button>
  </form>
</div>
