<mat-toolbar color="primary" style="position:fixed; top:0; left:0; z-index: 100">АНАЛИТИКА СТРАН
  <button routerLink="/login" style="margin-left: 10px" mat-button>Администрирование</button>
  <mat-form-field style="position: fixed; right: 15px">
    <mat-select placeholder="{{placeholder}}">
      <mat-option value="2006" (click)="changeYear(2006)">2006</mat-option>
      <mat-option value="2007" (click)="changeYear(2007)">2007</mat-option>
      <mat-option value="2008" (click)="changeYear(2008)">2008</mat-option>
      <mat-option value="2009" (click)="changeYear(2009)">2009</mat-option>
      <mat-option value="2010" (click)="changeYear(2010)">2010</mat-option>
      <mat-option value="2011" (click)="changeYear(2011)">2011</mat-option>
      <mat-option value="2012" (click)="changeYear(2012)">2012</mat-option>
      <mat-option value="2013" (click)="changeYear(2013)">2013</mat-option>
      <mat-option value="2014" (click)="changeYear(2014)">2014</mat-option>
      <mat-option value="2015" (click)="changeYear(2015)">2015</mat-option>
      <mat-option value="2016" (click)="changeYear(2016)">2016</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<h1 class="title">ОЦЕНКА СОЦ ОБЕСПЕЧЕННОСТИ СТРАН ЕС
  <span>
      <button style="top:-8px" mat-icon-button routerLink="/detail">
         <mat-icon aria-label="Example icon-button with a heart icon" color="primary">extension</mat-icon>
      </button>
    </span>
</h1>
<div class="main-container" *ngIf="countries">
  <div class="country-container" *ngIf="countries">
    <button mat-raised-button class="country-card"
            *ngFor="let country of countries"
            (click)="setCountry(country)">
      {{country.name}}
    </button>
  </div>
  <div class="country-info-contain">
    <div *ngIf="currentCountry">
      <h3 style="margin:8px">{{currentCountry.name}}<span>  {{selectedYear}}</span></h3>
      <div class="rating-container">
        <mat-card>
          <h2 style="color: #f44336; margin-bottom: 4px">{{currentCountry.officialRating}}</h2>
          <h5 style="margin-top: 4px">ВСЕМИРНЫЙ КРЕДИТНЫЙ РЕЙТИНГ</h5>
        </mat-card>
        <mat-card>
          <h2 style="color: rgb(103, 58, 183); margin-bottom: 4px">{{currentCountry.discriminantRating}}</h2>
          <h5 style="margin-top: 4px">ДИСКРИМИНАНТНАЯ ОЦЕНКА</h5>
        </mat-card>
      </div>
      <div class="rating-container">
        <mat-card>
          <h2 style="color: rgb(103, 58, 183); margin-bottom: 4px">{{currentCountry.neuralNetworkSNNRating}}
            <span style="color:black">/</span>
            {{currentCountry.neuralNetworkMatlabRating}}</h2>
          <h5 style="margin-top: 4px">НЕЙРОСЕТЕВАЯ ОЦЕНКА</h5>
        </mat-card>
        <mat-card>
          <h2 style="color: rgb(103, 58, 183); margin-bottom: 4px">{{currentCountry.fuzzyRating}}</h2>
          <h5 style="margin-top: 4px">НЕЧЕТКАЯ ОЦЕНКА СОЦ ОБЕСПЕЧЕННОСТИ</h5>
        </mat-card>
      </div>
      <mat-accordion>
        <mat-expansion-panel style="margin-left: 8px; margin-right: 8px">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ДИСКРИМИНАНТНАЯ
            </mat-panel-title>
            <mat-panel-description>
              {{this.currentRating.discriminant}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Дискриминантная оценка = {{currentCountry.discriminantRating}}, по сравнению с всеобщей = {{currentCountry.officialRating}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="margin-left: 8px;margin-right: 8px">
          <mat-expansion-panel-header>
            <mat-panel-title>
              НЕЙРОСЕТЕВАЯ SNN
            </mat-panel-title>
            <mat-panel-description>
              {{this.currentRating.neuralNetworkSNN}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Нейросетевая оценка, полученная при помощи SNN = {{currentCountry.neuralNetworkSNNRating}}, по сравнению с всеобщей = {{currentCountry.officialRating}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="margin-left: 8px;margin-right: 8px">
          <mat-expansion-panel-header>
            <mat-panel-title>
              НЕЙРОСЕТЕВАЯ MATLAB
            </mat-panel-title>
            <mat-panel-description>
              {{this.currentRating.neuralNetworkMatlab}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Нейросетевая оценка, полученная при помощи MATLAB = {{currentCountry.neuralNetworkMatlabRating}}, по сравнению с всеобщей = {{currentCountry.officialRating}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="margin-left: 8px;margin-right: 8px">
          <mat-expansion-panel-header>
            <mat-panel-title>
              НЕЧЕТКАЯ FUZZY
            </mat-panel-title>
            <mat-panel-description>
              {{this.currentRating.fuzzy}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Нечеткая оценка, полученная при помощи FUZZY = {{currentCountry.fuzzyRating}}, по сравнению с всеобщей = {{currentCountry.officialRating}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="!currentCountry">
      <h4 class="info-text">Выерете страну из списка</h4>
    </div>
  </div>
</div>
