.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.country-container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0.7rem;
  height:26rem;
  overflow-y: scroll;
}

.country-card{
  margin: 0.3rem;
  padding: 10px;
  width: 75%;
}

.country-info-contain{
  width: 100%;
  margin: 0.7rem;
  height:26rem;
  overflow-y: scroll;
}

.rating-container{
  display: flex;
  flex-direction: row;
  align-items: center
}

.info-text{
  color: rgb(255, 215, 64);
  text-align: center;
}

.title{
  text-align: center;
  font-size: 2em;
}

mat-card{
  margin: 0.5rem
}

@media (max-width: 420px){
  .main-container{
    flex-direction: column;
  }

  .country-card{
    padding: 10px;
    width: 90%;
  }

  .country-container{
    height: 15rem;
    padding-left: 35px
  }

  .country-info-container{
    height: 15rem;
  }

  .title{
    font-size: 1.5em
  }
}
